.DS_Store
#db/
results/
work/
bin/__pycache__/*
.idea
.vscode/
.nextflow/
.nextflow*
bin/findSNPs.py
bin/findSNPs.py
bin/get_segment_lineages.py
bin/get_segment_seqs.py
bin/get_shared_strains.py
bin/maskSNPs.py
bin/utils.pyc
