/*
* ----------------------------------------------
* Nextflow config file for RVFV segments paths
* ----------------------------------------------
*/

params {
  /*
  * paths to the lineages csv and alignment fasta files
  */
  genomes {
    'RVFV' {
      'Gn' {
        lineages       = "${params.igenomes_base}/RVFV/Gn/lineages.csv"
        fasta          = "${params.igenomes_base}/RVFV/Gn/representative.fasta"
      }
      'S' {
          lineages     = "${params.igenomes_base}/RVFV/S/lineages.csv"
          fasta        = "${params.igenomes_base}/RVFV/S/representative.fasta"
      }
      'M' {
          lineages     = "${params.igenomes_base}/RVFV/M/lineages.csv"
          fasta        = "${params.igenomes_base}/RVFV/M/representative.fasta"
      }
      'L' {
          lineages     = "${params.igenomes_base}/RVFV/L/lineages.csv"
          fasta        = "${params.igenomes_base}/RVFV/L/representative.fasta"
      }
    }
  }
}