/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 *
 */

params {
    modules {
        'filter' {
            publish_dir   = 'filter'
        }
        'database' {
            publish_dir = 'database'
        }
        'mafft_align_query' {
            publish_dir   = 'alignments/query/fasta'
        }
        'iqtree' {
            args          = "-m GTR+G4 -alrt 1000 -bb 1000 -redo"
        }
        'newick_to_nexus' {
            publish_dir   = 'trees/nexus'
        }
        'assign_lineages' {
            publish_dir   = 'lineages'
        }
        'snps' {
            publish_dir   = 'snps'
        }
        'report' {
            publish_dir   = 'report'
        }
        'plots' {
            publish_dir   = 'plots'
        }
    }
}