/*
* ----------------------------------------------
* Nextflow config file for RVFV segments paths
* ----------------------------------------------
*/

params {
  /*
  * paths to the lineages csv and alignment fasta files
  */
  segments {
    'RVFV' {
      'Gn' {
        fasta          = "${params.segments_base}/RVFV/Gn/representative.fasta"
        lineages       = "${params.segments_base}/RVFV/Gn/lineages.csv"
      }
      'S' {
        fasta        = "${params.segments_base}/RVFV/S/representative.fasta"
        lineages     = "${params.segments_base}/RVFV/S/lineages.csv"
          
      }
      'M' {
        fasta        = "${params.segments_base}/RVFV/M/representative.fasta"
        lineages     = "${params.segments_base}/RVFV/M/lineages.csv"
      }
      'L' {
        fasta        = "${params.segments_base}/RVFV/L/representative.fasta"
        lineages     = "${params.segments_base}/RVFV/L/lineages.csv"  
      }
    }
  }
}